$colorwhite: #fff;
$billingbg:linear-gradient(115.69deg, rgba(242, 107, 69, 0.6) 0%, rgba(252, 189, 88, 0.6) 100%);
$billingbrdr:rgba(242, 107, 69, 0.6);
$orderbg: linear-gradient(115.69deg, rgba(13, 181, 225, 0.6) 0%, rgba(95, 176, 242, 0.6) 100%);
$orderbrdr:rgba(13, 181, 225, 0.6);